<h1>Create a new account</h1>
<% if !@error.nil? then %>
<%= @error %>
 <%end%>
<%= form_for :user,url: {:action=>'create'} do |f| %>
	<%= f.label:name %>
	<br/>
	<%= f.text_field :name %>
	<br/>
	<%= f.label:password %>
	<br/>
	<%= f.password_field :password %>
	<br/>
	<%= f.label:Type %>
	<br/>
	<%= f.select :shop,['normal','shop'] %>
	<br/>
	<%= f.submit:'Sign up' %>
<%end%>
<%= link_to 'Login',login_login_path %>
<%= link_to 'Home',welcome_home_path %>
