<h1>Login</h1>
<% if !@error.nil? then%>
<%= @error %>
<%end%>
<%=form_for :user,url: login_check_path do |f| %>	
	<%= f.label:name %>
	<br/>
	<%= f.text_field :name %>
	<br/>
	<%= f.label:password %>
	<br/>
	<%= f.password_field :password %>
	<br/>
	<%= f.submit:'Login' %>
<%end%>
<%=link_to 'Signup',new_users_path%>
<%=link_to 'Home',welcome_home_path%>
